/*.logo-div{
	margin-top: 20px;
}*/
img.w-equal{
	width: 310px;
	height: 310px;
}
/*img.w-banner{
	height: 993px;
}*/
img.w-banner-small{
	height: 493px;
}
img.division{
	height: 400px;
}
img.team{
	margin: 10%;
}
.navbar-expand-lg .navbar-nav {
    justify-content: space-evenly;
}
.nav-item-icon {
    font-size: 20px;
}
.bd-content > h2:not(:first-child) {
    margin-top: 3rem;
}
.product-sub{
	margin-right: 20% !important;
	margin-left: 20% !important;
}
.color-black{
	color: #000;
	background-color: #000;
	opacity: .5 !important;
}
.color-white{
	color: #000;
	background-color: #fff;
	
}
.color-grey{
	color: #000;
	background-color: #3e3e3e;
}
.home-section{
	margin-left: 20%;
	margin-right: 20%;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
	background-color: #000;
	opacity: 50%;
}
ul.footer-ul{
	padding-left: 0 !important;
	list-style: none;
}
.text-decoration-underline{
	
	border-radius: 3px;
}
.navbar-light .navbar-nav .nav-link{
	color: #000;
	padding-left: 1rem !important;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: #000 !important;
    padding-left: 1rem !important;
}
.hr-footer{
	background: #fff;
	border: 0;
	display: block;
	width: 100%;
	height: 3px !important;
	border-radius: 4px;
	margin: .5rem 0 1rem 0;
	opacity: 1;
}
.card-img-overlay{
	top: 50% !important;
	right: 0% !important;
	bottom: 50% !important;
	left: 0% !important;
	padding: 0 !important;
}
hr.dotted {
  	border-top: 2px dashed black;
	opacity: .5;
	color: #fff;
}
.image:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
}

/*ul.navbar-nav li.nav-item::before {
    content: "";
    position: absolute;
    top: 23px;
    width: 10px;
    height: 10px;
    background-color: #16d506;
}*/

.carousel-caption {
	bottom: 35% !important;
	right: unset;
	left: unset;
	width: 100%;
	background-color: #00000088;
	padding-top: 2.25rem;
	padding-bottom: 2.5rem;
}
.carousel-h1{
	padding-bottom: 20px;
	font-family: 'Source Sans Pro', serif;
}
.halo-btn{
	display: unset;
	padding: 15px;
	background: #00000000;
	border: 2px solid white;
}
.green-btn{
	background: #00b045;
	color: #fff;
	padding: 10px;
	text-decoration: none;
}

.green-icon{
	color: #00b045;
	padding: 10px;
	font-size: 30px;
	text-decoration: none;
	font-family: 'Source Sans Pro', serif;
}

.green-text{
	color: #00b045 !important;
	text-decoration: none;
	font-family: 'Source Sans Pro', serif;
}

.nav-link.green-text{
	color: #00b045 !important;
	text-decoration: none;
	width: 20%;
	border-color: #000;
	background-color: #000;
	border-radius: 0;
	margin: 0 2%;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 20px;
}
#nav-tab{
	border-color: #fff;
}

.nav-link.green-text.active{
	border-color: #000;
	background-color: #fff;
}

.team-box {
  position: relative;
 
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	right: -40%;
}

.team-box:hover .image {
  opacity: 0.3;
}

.team-box:hover .middle {
  opacity: 1;
}

.name-red {
  color: red;
  font-weight: bold;
  font-size: 16px;
}
.name {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.open-sans {
	font-family: 'Source Sans Pro', serif;
}
.dot {
	height: 300px;
  width: 300px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #00b045 !important;
    background-color: #000 !important;
    font-weight: bold !important;
}
.nav-link:focus, .nav-link:hover {
    color: #00b045 !important;
}
.nav-link{ 
	color: #000 ;
	font-family: 'Source Sans Pro', serif;
}
.form-group{
	padding-bottom: 15px;
}
.form-control{
	border-radius: 0;
}
label{
	color: #555;
}

.client_img{
	width: 200px;
	height: auto;
	padding: 35px 25px;
}
.promotor{
	display: flex;
	flex-direction: column;
	justify-content: end;
}